<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF=8"/>
    <title></title>

    <!--top css-->
    <style>
      .top-header h1 {
        color: black;
        text-align:center;
        background-color:white;
      }

      .hr1{
        width:60%;
      }

        main {
          display:flex;
          width: 100%;
          background-color:white;
        }
          .new {
            margin: 30px 230px 0px 347px;
            background-color: white;
            width:61%;
          }
            .text_area {
              height:500px;
            }

            .new-area {
              width: 78%;
              margin:20px;
              background-color: white;
              text-align:center
            }
              input{
                width: 325px;
                height: 50px
              }
              .new-item, .link, .new-button {
                background-color:white;
                margin: 25px 10px 0px 20px;;
              }

          .sidebar{
            width:20%;
          }
            .sidebar-area{
              margin:20px;
              background-color:white;
            }

        @media screen and (max-width: 599px) {
          .sidebar2 {
              width: 23%;
              height: 575px;
              position: fixed;
              top: 77px;
              right: 3%;
          }
          .new {
              margin: 0px;
              background-color: white;
              width: 75%;
          }
        }


    </style>
  </head>

  <body>
    <main>

      <div class="sidebar1">
        <div class="sidebar-area">
        </div>
      </div>

      <!-- main-area -->
      <div class="new">
        <!--blog-->
        <div class="new-area">
          <h1>投稿変更いたしました！</h1>
        </div>

      </div>
      <!--sidebar-->
      <div class="sidebar2">
        <div class="sidebar-area">

        </div>
      </div>

    </main>
  </body>
</html>

